{% block menu %}
    <div class="col-md-4" id="menu">
        <ul class="nav nav-sidebar img-rounded" id="menu_ikonki">
            <li><a href="{{ path('onas') }}"><img src="{{ asset('images/onas_ikona.jpg') }}">O nas</a></li>
            <li><a href="{{ path('oferta') }}"><img src="{{ asset('images/oferta_ikona.jpg') }}">Oferta</a></li>
            <li><a href="{{ path('galeria') }}"><img src="{{ asset('images/galeria_ikona.jpg') }}">Galeria</a></li>
            <li><a href="{{ path('pytania') }}"><img src="{{ asset('images/pytania_ikona.jpg') }}">Pytania</a></li>
            <li><a href="{{ path('linki') }}"><img src="{{ asset('images/linki_ikona.jpg') }}">Linki</a></li>
            <li><a href="{{ path('kontakt') }}"><img src="{{ asset('images/kontakt_ikona.jpg') }}">Kontakt</a></li>
        </ul>
        <div id="link_ikea_brw">
            <div id="link_ikea">
                <a href="http://www.ikea.com/pl/" target="_blank"><img src="{{ asset('images/logo_ikea_s.jpg') }}"></a>
            </div>
            <div id="link_brw">
                <a href="https://brw.com.pl" target="_blank"><img src="{{ asset('images/logo_brw.jpg') }}" width="220"></a>
            </div>
        </div>
    </div>
{% endblock %}