<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Anna Zaremba" content="">
    <meta name="keywords" content="artificium, trojmiasto, gdansk, sopot, gdynia, oklice trojmiasta, meble, meble kuchenne, kuchnia, montaz, montaz mebli, montowanie, ikea, indywidualne projekty, zabudowa, szafy, wnęki, zabudowa wnęk, garderoby, meble biurowe, przerabianie instalacji, pomiar, doradztwo, pomoc w zakupach, transport, zabudowy meblowe, garderoby, przeróbka mebli" />
    <meta name="description" content="Firma ARTIFICIUM - montaż mebli na wymiar, meble kuchenne z IKEA, Trójmiasto, Gdańsk, Sopot, Gdynia, indywidualne projekty kuchni, kuchnie nietypowe, zabudowa wnęk, szafy, garderoby, meble biurowe" />
    <meta name="robots" content="all" />

    <title>ARTIFICIUM: Profesjonalny montaż mebli</title>

    <!-- CSS -->
    <link href="{{ asset('public/bootstrap-3.3.7/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ asset('public/bootstrap-3.3.7/docs/assets/css/ie10-viewport-bug-workaround.css') }}"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('public/bootstrap-3.3.7/docs/examples/justified-nav/justified-nav.css') }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]-->
    <script src="{{ asset('public/bootstrap-3.3.7/docs/assets/js/ie8-responsive-file-warning.js') }}"></script>
    <!--[endif]-->
    <script src="{{ asset('public/bootstrap-3.3.7/docs/assets/js/ie-emulation-modes-warning.js') }}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]-->
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <!--[endif]-->
    <script src="{{ asset('js/js.js') }}"></script>
</head>

<body id="body">

<div class="container" id="body1">
    <div class="row" id="logo-foto">
        <a href="{{ path('onas') }}"><img src='{{ asset('images/img_03.jpg') }}'></a>
    </div>
    <div class="row" id="main-foto">
        <img src='{{ asset('images/img_07.jpg') }}'>
    </div>
    <div class="row" id="menubody">
        {% block menu %}
            {% include (':default:menu.html.twig') %}
        {% endblock %}

        {% block bodyblock %}{% endblock %}
    </div>
    <div class="row">
        <footer class="footer" id="footer">
            <div class="text-muted">
                Copyright &copy; 2011-2017 <a href="{{ path('onas') }}">montujemymeble.pl</a> All rights reserved.
            </div>
        </footer>
    </div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ asset('public/bootstrap-3.3.7/docs/assets/js/ie10-viewport-bug-workaround.js') }}"></script>
</body>
</html>
