{% extends ':default:montujemymeble.html.twig' %}

{% block bodyblock %}
    <div class="col-md-9">
        <div class="row" id="naglowek">
            <h3>Galeria</h3>
        </div>
        <div class="row" id="bodyblock">
            <div class="row">
                <div class="col-md-3 galeria">
                    <img src="{{ asset('images/galeria/1062.jpg') }}" class="img-responsive"/>
                </div>
                <div class="col-md-3 galeria">
                    <img src="{{ asset('images/galeria/1071.jpg') }}" class="img-responsive"/>
                </div>
                <div class="col-md-3 galeria">
                    <img src="{{ asset('images/galeria/1074.jpg') }}" class="img-responsive"/>
                </div>
                <div class="col-md-3 galeria">
                    <img src="{{ asset('images/galeria/AGD_w_czerwonej_zabudowie.jpg') }}" class="img-responsive"/>
                </div>
                <div class="col-md-3 galeria">
                    <img src="{{ asset('images/galeria/Apartamentowiec.jpg') }}" class="img-responsive"/>
                </div>
                <div class="col-md-3 galeria">
                    <img src="{{ asset('images/galeria/Biała_na_zamówienie.jpg') }}" class="img-responsive"/>
                </div>
                <div class="col-md-3 galeria">
                    <img src="{{ asset('images/galeria/Ciekawa_kuchnia.jpg') }}" class="img-responsive"/>
                </div>
                <div class="col-md-3 galeria">
                    <img src="{{ asset('images/galeria/Czarna_plus_Rubriki.jpg') }}" class="img-responsive"/>
                </div>
                <div class="col-md-3 galeria">
                    <img src="{{ asset('images/galeria/Czerwona.jpg') }}" class="img-responsive"/>
                </div>
                <div class="col-md-3 galeria">
                    <img src="{{ asset('images/galeria/Czerwona_z_kwiatami.jpg') }}" class="img-responsive"/>
                </div>
                <div class="col-md-3 galeria">
                    <img src="{{ asset('images/galeria/Czerwone_ściany.jpg') }}" class="img-responsive"/>
                </div>
                <div class="col-md-3 galeria">
                    <img src="{{ asset('images/galeria/Czerwononierdzewna.jpg') }}" class="img-responsive"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}