{% extends ':default:panelAdministracyjny.html.twig' %}
{% block panelblock %}
    {{ tinymce_init() }}
    <div class="row" id="bodyblock">
        <h2>Artykuły</h2>
        {{ form_start(form, { 'attr': { 'novalidate': 'novalidate'}}) }}
        <div>
            <div>
                <div>
                    <label>Temat</label>
                </div>
                <div>
                    {{ form_widget(form.temat, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div id="blad">
                    {{ form_errors(form.temat) }}
                </div>
                <div>
                    <label>Treść</label>
                </div>
                <div>
                    {{ form_widget(form.tresc, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div id="blad">
                    {{ form_errors(form.tresc) }}
                </div>
            </div>
            <div>
                <button class="btn btn-default" type="submit">Zapisz</button>
            </div>
        </div>
        {{ form_end(form) }}

        <div>
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Temat</th>
                    <th>Treść</th>
                    <th>Edycja</th>
                </tr>
                {% for artykuly in artykuly %}
                    <tr>
                        <td>{{ artykuly.id }}</td>
                        <td>{{ artykuly.temat }}</td>
                        <td>{{ artykuly.tresc }}</td>
                        <td>
                            <form method="post" action="{{ path('artykul') }}">
                                <input type="hidden" name="id" value="{{ artykuly.id }}">
                                <button type="submit" class="btn btn-default btn-sm">Edytuj</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}