{% extends ':default:panelAdministracyjny.html.twig' %}
{% block panelblock %}
    {{ tinymce_init() }}
    <div class="row" id="bodyblock">
        <h2>Dadawanie artykułu</h2>
        <div>
            {{ form_start(form, { 'attr': { 'novalidate': 'novalidate'}}) }}
            <div>
                <div>
                    <label>Artykuł</label>
                </div>
                <div>
                    {{ form_widget(form.artykul, {'attr': {'class': 'form-control tinymce'}}) }}
                </div>
                <div>
                    {{ form_errors(form.artykul) }}
                </div>
                <div>
                    <label>Treść</label>
                </div>
                <div>
                    {{ form_widget(form.tresc, {'attr': {'class': 'form-control tinymce'}}) }}
                </div>
                <div>
                    {{ form_errors(form.tresc) }}
                </div>
            </div>
            <div id="przycisk">
                <button class="btn btn-default">Zapisz</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}